/tp-02/Ejercicio02/build/
/tp-02/Ejercicio03/nbproject/private/
/tp-02/Ejercicio01/nbproject/private/
/tp-02/Ejercicio01/build/
/tp-02/Ejercicio03/build/
/tp-02/Ejercicio04/nbproject/private/
/tp-02/Ejercicio04/build/
/tp-02/Ejercicio05/nbproject/private/
/tp-02/Ejercicio06/nbproject/private/
/tp-02/Ejercicio06/build/
/tp-02/Ejercicio05/build/
/tp-02/Ejercicio07/nbproject/private/
/tp-02/Ejercicio07/build/
/tp-02/Ejercicio08/nbproject/private/
/tp-02/Ejercicio08/build/
/tp-02/Ejercicio09/nbproject/private/
/tp-02/Ejercicio09/build/
/tp-02/Ejercicio10/nbproject/private/
/tp-02/Ejercicio10/build/
/tp-02/Ejercicio11/nbproject/private/
/tp-02/Ejercicio11/build/
/tp-02/Ejercicio12/nbproject/private/
/tp-02/Ejercicio12/build/
/tp-02/Ejercicio13/nbproject/private/
/tp-02/Ejercicio13/build/
/tp-03/Ejercicio01/nbproject/private/
/tp-03/Ejercicio01/build/
/tp-03/Ejercicio02/nbproject/private/
/tp-03/Ejercicio02/build/
/tp-03/Ejercicio03/nbproject/private/
/tp-03/Ejercicio03/build/
/tp-03/Ejercicio04/nbproject/private/
/tp-03/Ejercicio04/build/
/tp-03/Ejercicio05/nbproject/private/
/tp-03/Ejercicio05/build/
